#body {
    padding: 8px 10px 0;
    margin: 0px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginbox {
    float: left;
    margin-left: 3px;
    border:1px solid #ddd;
    position: relative;
    text-align: right;
    padding: 15px;
}



#topcategory{
    list-style: none;
    height: 40px;
    padding: 5px 1px;
    margin: 0;
    background: coral;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}


#topcategory li{
    float: left;
    position: relative;
    margin: 5px 45px;
    padding: 0px 0px;
    width: 150px;
}

.cate_text{
    display: block;
    font-family: "나눔고딕";
    font-size: 15px;
    padding: 5px 8px 10px 7px;
    margin: 0;
    color: lightcoral;
}

#topcategory li a{
    display: block;
    font-family: "나눔고딕";
    font-weight: bold;
    font-size: 15px;
    padding: 7px 8px;
    margin: 0;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,3);
}

#topcategory li:hover > a{
    background: #ffcab2;
    color: black;
    margin: 0;
    text-shadow: none;
}

#topcategory ul{
    list-style: none;
    margin: -1px 0;
    padding: 0;
    /*padding-top: 13px;디자인 수정하기*/
    width: 150px;
    display: none;
    background: #ffcab2;
}

#topcategory ul li{
    float: none;
    margin: 1px 0;
    padding: 0;
    font-size: 10px;
}

#topcategory ul a{
    font-weight: normal;
    color: black;
    text-shadow: none;
}

#topcategory ul li:hover a{
    background: #cc9882;
    font-weight: bold;
}

#topcategory li:hover ul{
    display: block;
}

#topcategory li:hover ul li{
    height: 35px;
    overflow: visible;
    padding: 0;
}




/*여기까지 베이스 css*/

#section {
    margin: 50px auto;
    padding: 10px;
    width: 60%;
    border: 1px solid #444444;
    text-align: center;
}

#writeform {
    border: 30px;
}


#title {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 15px;
}

#post {
    width: 75%;
    resize: none;
}

#postlable {

}

#submitbutten {
    margin-top: 10px;
    margin-left: 80%;

}